[submodule "themes/tale-hugo"]
	path = themes/tale-hugo
	url = https://github.com/EmielH/tale-hugo.git
[submodule "static/admin"]
	path = static/admin
	url = https://github.com/woliveiras/netlify-cms-base.git
